{% extends "../outline/layout/main.html" %}
{% block content %}
{% if boardConf.useEditor == 1 %}
<script>
$(function() {
	CKEDITOR.replace("content");
	CKEDITOR.config.height = 350;
});
</script>
{% endif %}
<form name='frmWrite'  id='frmWrite' method="post" action="/board/{{ mode }}/{% if mode == 'write' %}{{ boardConf.boardId }}{% else %}{{ idx }}{% endif %}" target="ifrmHidden" autocomplete="off">
<input type="hidden" name="gid" value="{{ gid }}">
{% include boardConf.formSkinPath %}

<button type="button" class="btn1 gray">취소하기</button>
<input type="submit" value="{{ '작성하기' if mode == 'write' else '수정하기' }}" class='btn1'>
</form>
{% endblock %}