<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maxium-scale=2.0, minimum-scale=0.5, width=device-width">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		{% if addCss.length > 0 %}
		{% for css in addCss %}
		<link rel="stylesheet" type="text/css" href="/css/{{ css }}.css">
		{% endfor %}
		{% endif %}
		
		{% block style %}
		{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/js/common.js"></script>
		{% if addScript.length > 0 %}
		{% for script in addScript %}
		<script src="/js/{{ script }}.js"></script>
		{% endfor %}
		{% endif %}
		
		{% block script %}
		{% endblock %}
	</head>
	<body id='popup_page'>
		<header>
		{% block header %}
			팝업제목
		{% endblock %}
		</header>
		
		<main>
		{% block content %}
		{% endblock %}
		</main>
				
		<iframe name='ifrmHidden' width='100%' height='500' frameborder='0' style='display: none;'></iframe>
	</body>
</html>